@import '../_colors';

.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 268px;

    padding: 160px 123px;

    height: 583px;

    .textContainer {
        width: 404px;
        
        h2 {
            font-size: 36px;
            font-weight: 700;

            margin-bottom: 12px;

            color: $darkColor;
        }

        p {
            width: 364px;

            font-family: 'DM Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;

            margin-bottom: 24px;

            color: $textColor;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 6px;

            width: 236px;

            padding: 14px 32px;

            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;

            border-radius: 4px;

            color: #fff;
            background-color: $primaryColor;

            transition: .2s;

            &:hover {
                background: $primaryColorHover;
            }
        }
    }

    .contactInformation {
        display: flex;
        flex-direction: column;

        gap: 32px;

        div {
            display: flex;
            align-items: center;

            gap: 12px;

            .icon {
                color: $primaryColor;
            }

            p {
                font-family: 'DM Sans', sans-serif;
                font-size: 18px;
                font-weight: 400;
    
                color: $textColor;
            }
        }
    }
}