@import '../_colors';

.home {
    display: flex;

    gap: 118px;

    height: 699px;
    max-width: 1366px;
    margin: 0 auto;

    overflow: hidden;

    .textContainer {
        margin: 178px 0 182px 123px;

        h2 {
            font-size: 36px;
            font-weight: 700;

            color: $darkColor;

            margin-bottom: 12px;
        }

        p {
            font-family: 'DM Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;

            margin-bottom: 24px;

            color: $textColor;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 6px;

            width: 218px;

            padding: 14px 32px;

            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;

            border-radius: 4px;

            color: #fff;
            background-color: $primaryColor;

            transition: .2s;

            &:hover {
                background: $primaryColorHover;
            }
        }
    }

    .imgContainer {
        position: relative;

        height: 375px;
        width: 561px;

        margin: 152px 168px 172px 0;

        &::before {
            content: '';
            position: absolute;

            width: 581px;
            height: 405px;

            left: 77px;
            bottom: 38px;

            border-radius: 4px;

            background-color: $secondColor;
        }

        img {
            position: relative;
            width: 561px;
            height: 375px;

            z-index: 999;
            
            border-radius: 4px;
        }
    }
}