$primaryColor: rgba(255, 51, 102, 0.91);
$secondColor: rgba(255, 234, 234, 1);
$darkColor: rgba(15, 36, 29, 1);
$gradientColor: linear-gradient(270deg, #FD4372 0%, rgba(244, 204, 223, 0.34) 100%);
$primaryColorHover: rgb(255, 51, 100);

$textColor: rgba(118, 118, 118, 1);

$backgroundColor: rgba(249, 249, 249, 1);
$backgroundSecondColor: #ffff;