@import '_colors';

footer {
    height: 237px;

    padding: 60px 123px;

    background-color: $primaryColor;

    @media screen and (max-width:1024px) {
        padding: 0;
    }

    .footerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1120px;
        margin: 0 auto;

        @media screen and (max-width:1024px) {
            flex-direction: column;
        }

        .textContainer {
            width: 404px;

            @media screen and (max-width:1024px) {
                width: 100%;
            }

            h2 {
                font-size: 38px;
                font-weight: 700;

                margin-bottom: 24px;

                color: $darkColor;

                span {
                    color: $backgroundColor;
                }
            }

            p {
                width: 364px;

                font-family: 'DM Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;

                margin-bottom: 12px;

                color: $backgroundColor;
            }
        }

        .socialMedia {
            display: flex;
            gap: 32px;

            .icon {
                color: #fff;

                &:hover {
                    transform: translateY(-1px);
                }
            }
        }
    }
}